<p>Pedido de Cotação</p>

<p><strong>Origem:</strong> <%= @params[:origin] %></p>
<p><strong>Destino:</strong> <%= @params[:destination] %></p>
<p><strong>Peso (kg):</strong> <%= @params[:weight] %></p>
<p><strong>Numero de paletes:</strong> <%= @params[:pallets] %></p>
<p><strong>Tipo de carga:</strong> <%= @params[:cargo_type] %></p>
<p><strong>Data pretendida:</strong> <%= @params[:desired_date] %></p>
<% if @params[:extra_info].present? %>
<p><strong>Informacao adicional:</strong><br><%= simple_format(@params[:extra_info]) %></p>
<% end %>

<p><strong>Email do cliente:</strong> <%= @params[:email] %></p>
